
/* Todo&Activity */

.todo{
    height: 100%;
    background-color: white;
    margin: 15px;
    display: flex;
    .todo-list{
        padding: 30px;
        width: 50%;
        height: 600px;
        border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
        .todo-list-title{font-size: 20px}
        .ant-input-affix-wrapper{
            background-color:#f0f0f0;
            margin:15px 0;
        }
        .todo-list-ul,.todo-list-ul-right{
            margin: 10px 0;
            padding: 0;
            width: 100%;
            overflow: overlay;
            &::-webkit-scrollbar{display: none}
        }
        .todo-list-ul{height: 94%}
        .todo-list-ul-right{height: 100%}
        .todo-list-li{
            height: 20px;
            padding: 25px 2px;
            width: 100%;
            border-bottom: 1px solid #f0f0f0;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            label {
                float: left;
                cursor: pointer;
            }
            &:hover{background-color: #f5f5f5}
            .todo-list-li-button{
                float: right;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
            }
            button {
                margin: 0 1px;
                background-color: white;
                color: #1677ff;
                border: 1px solid #1677ff;
                border-radius: 5px;
                height: 30px;
                width: 50px;
                &:hover{background-color: #e6f4ff}
            }
            &:last-child {border-bottom: none}
        }
    }
    .ant-modal-body{
        display: flex;
        align-items: center;
    }
    input[type=text]{
        background-color: #f0f0f0;
    }
}